.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}

/* Si es en mobile, que sean dos rows en vez de columns */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 1rem;
  }
}

.logo {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-weight: bold;
  font-size: larger;
}

.repo {
  cursor: auto;
  background-color: var(--secondary-color);
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
  transition: all 0.3s;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-weight: bold; */
}

.repo:hover {
  transform: scale(1.05);
  background-color: var(--main-color);
  border: 1px solid white;
}
