#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  --first-color: #081426;
  --second-color: #0B5563;
  --third-color: #5F4B66;
  background-color: var(--first-color);
}


header {
  color: #fff;
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
}

